.box{
    height: 100px;
    width: 100px;
    background-color: blue;
    font-size: 100px;
    text-align: center;
    position: relative;
    animation: mybox 5s linear alternate infinite;
}
@keyframes mybox{
    0%{
        left: 0px;
        background-color: blue;
        color: black;
    }
    20%{
        left: 100px;
        background-color: black;
        color: white;
    }
    40%{
        left: 300px;
        background-color: blue;
        color: black;
    }
    60%{
        left: 600px;
        background-color: black;
        color: white;
    }
    80%{
        left: 900px;
        background-color: blue;
        color: black;
    }
    100%{
        left: 1200px;
        background-color:black;
        color: white;
    }

}