h2{
    color: brown;
}
p{
    color: blue;
}
h3{
    text-align: left;
}
h4{
    text-align: right;
}
div{
 border: 1px solid black;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: justify;
}
p.str1{
    text-align-last: right;
}
p.str2{
    text-align-last: center;
}
p.str3{
    text-align-last: justify;
}
p.p1{
    direction:ltr;
}