.inner-container{
    height: 275px;
    width: 187px;
    border: 2px solid black;
    border-radius: 3px;
    padding: 8px;
}
.heading{
    text-align: center;
}
.para{
    font-size: 13px;
    text-align: center;
}
.read-btn{
    background-color: black;
    color: white;
    width: 150px;
    padding: 6px;
    border-radius: 30px;
    font-size: 11px;
    margin-left: 16px;
}
.insta-container{
    background-color:palevioletred

}
.read-btn1{
    background-color: aliceblue;
    color:pink;
    width: 150px;
    padding: 6px;
    border-radius: 30px;
    font-size: 11px;
    margin-left: 16px;
}
.main-container{
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-left: 30px;
    justify-content: center;
}
.head{
    color: white;
    text-align: center;
}
.para1{
    font-size: 13px;
    text-align: center;
    color: white;
}
